textArea {
  font-size:14px;
  border-radius:5px;
  border:6px solid #556677;
  resize: none;
  background-color: lightblue;
}

body{
  text-align: center;
  font-family: Helvetica,Arial,sans-serif;
  background-image: url("paper.jpg");
}

a:link, a:visited {
  background-color: lightblue;
  color: white;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  top: 8px;
  left: 16px;
  position: absolute;
}

a:hover, a:active {
  background-color: lightgreen;
}

#updateButton{
  background-color: lightblue;
  color: white;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  background-color: #4CAF50;
  color: white;
}
