body{
  text-align: center;
  font-family: Helvetica,Arial,sans-serif;
  background-image: url("paper.jpg");
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
}

a:link, a:visited {
  background-color: lightblue;
  color: white;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

a:hover, a:active {
  background-color: lightgreen;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  background-color: #4CAF50;
  color: white;
}
